.consultation {
  position: relative;
  padding: 120px 0px;
  background: url("@img/consultation.jpg") top 0 right 0 / cover no-repeat;
  z-index: 1;
  @include laptop-min {
    padding: 80px 0px;
    &::before {
      position: absolute;
      content: "";
      inset: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: -1;
    }
  }
  @include tablet {
    padding: 60px 0px;
  }
  &__title {
    color: white;
    max-width: 1055px;
    margin-bottom: 20px;
  }
  &__content {
    color: white;
    margin: 0px 0px 50px 0px;
  }
  &__btn {
    @include mobile {
      width: 100%;
    }
  }
}