.intro {
  position: relative;
  margin-bottom: 95px;
  @include laptop-min {
    margin-bottom: 0;
  }
  &__wrapper {
    position: relative;
    padding: 120px 0px 40px 0px;
    background: url("@img/intro.jpg") top 0 right 0 / cover no-repeat;
    min-height: 640px;
    z-index: 1;
    @include laptop-middle {
      min-height: 525px;
    }

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.81) 45.5%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: -1;
    }
  }
  &__title {
    font-size: 60px;
    line-height: 55px;
    letter-spacing: 0.6px;
    color: var(--primary);
    margin-bottom: 30px;
    span {
      display: block;
      color: var(--tuna);
      font-size: 47px;
      line-height: 52px;
      letter-spacing: 0.47px;
    }
    @include laptop {
      font-size: 55px;

      span {
        font-size: 30px;
      }
    }
    @include laptop-min {
      font-size: 48px;
      line-height: 100%;
      span {
        font-size: 24px;
        line-height: 100%;
      }
    }
    @include tablet {
      font-size: 24px;
    }
  }
  &__content {
    max-width: 700px;
    margin-bottom: 50px;
  }
  &__btn {
    @include mobile {
      width: 100%;
    }
  }
  &__spec {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    z-index: 1;
    @include laptop-min {
      position: static;
      margin-top: 30px;
      transform: translate(0);
    }
  }
  &__spec-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    @include laptop-middle {
      gap: 15px;
    }
  }
  &__spec-item {
    grid-column: 3 span;
    padding: 30px 20px;
    color: white;
    background-color: var(--primary);
    border: 1px solid var(--green);
    border-radius: 5px;
    box-shadow: 0px 17px 32px 0px rgba(15, 73, 51, 0.24);
    @include laptop-min {
      grid-column: 6 span;
    }
    @include tablet-min {
      grid-column: 12 span;
    }
  }
  &__spec-title {
    font-size: 25px;
    margin-bottom: 15px;
    @include laptop {
      font-size: 20px;
    }
  }
  &__spec-content {
    font-size: 18px;
    font-weight: 300;
    color: var(--light);
    @include laptop {
      font-size: 16px;
    }
  }
}
