.steps {
  position: relative;
  padding: 155px 0px;
  background: url("@img/steps.jpg") 0 0 / cover no-repeat;
  z-index: 1;
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background: linear-gradient(
      90deg,
      #fff 6%,
      rgba(255, 255, 255, 0.54) 58.5%,
      rgba(255, 255, 255, 0.54) 79.5%,
      #fff 100%
    );
    z-index: -1;
  }
  @include laptop-min {
    padding: 110px 0px;
  }
  @include tablet {
    padding: 80px 0px;
  }
  &__title {
    max-width: 570px;
    margin-bottom: 10px;
    span {
      font-size: inherit;
    }
  }
  &__subtitle {
    margin-bottom: 40px;
    color: var(--black);
    @include tablet {
      margin-bottom: 20px;
    }
  }
  &__content {
    margin-bottom: 20px;
  }
  &__btn {
    @include mobile {
      width: 100%;
    }
  }
  &__img {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    right: 150px;
    z-index: -1;
    @include desktop {
      opacity: 0.5;
    }
    @include laptop {
      right: 0;
    }
    @include tablet {
      display: none;
    }
  }
}