:root {
  --primary: #386F6D;
  --orange: #D0721B;
  --green: #1E5C39;
  --dark: #242424;

  --gray-dark: #757575;
  --gray: #7B8795;
  --black: #0D0D0D;
  --tuna: #302F3C;
  --light: #E0DDDD;
  --shaft: #292929;

  --blue: #A0BAD5;
  
  --vk: #3375F6;
  --rt: #071E36;
  --wh: #35D847;

  --tana: #D5DCBB;

  --light-green: rgba(213, 220, 187, 0.50);
}