<section class="certificates">
  <div class="container">
    <h2 class="title title-2 certificates__title">
      наши допуски
      <span>и сертификаты</span>
    </h2>
    <p class="content certificates__content">
      Компания "ПромСтройПроект" имеет все необходимые допуски и лицензии для
      того, чтобы проводить проектные и изыскательские работы, для обследования
      объектов различного уровня сложности.
    </p>
    <div class="certificates__gallery">
      <a
        href="@img/c-1.jpg"
        data-fancybox="certificates"
        class="certificates__gallery-btn"
      >
        <img src="@img/c-1.jpg" alt="image" class="certificates__gallery-img" />
      </a>
      <a
        href="@img/c-2.jpg"
        data-fancybox="certificates"
        class="certificates__gallery-btn"
      >
        <img src="@img/c-2.jpg" alt="image" class="certificates__gallery-img" />
      </a>
      <a
        href="@img/c-3.jpg"
        data-fancybox="certificates"
        class="certificates__gallery-btn"
      >
        <img src="@img/c-3.jpg" alt="image" class="certificates__gallery-img" />
      </a>
      <a
        href="@img/c-4.jpg"
        data-fancybox="certificates"
        class="certificates__gallery-btn"
      >
        <img src="@img/c-4.jpg" alt="image" class="certificates__gallery-img" />
      </a>
    </div>
    <h3 class="title title-3 certificates__title-list">
      Мы подтверждаем, что:
    </h3>
    <ul class="list certificates__list">
      <li class="content certificates__item">
        Компания является членом саморегулируемых организаций (СРО) строителей,
        проектировщиков и изыскателей
      </li>
      <li class="content certificates__item">
        Прошли добровольную сертификацию на "Современный стандарт качества"
      </li>
      <li class="content certificates__item">
        Соответствуем системе менеджмента качества в области проектирования и
        обследования зданий и сооружений (ГОСТ Р ИСО 9001-2015, ГОСТ Р ИСО
        14001-2007, ГОСТ Р 54934-2012)
      </li>
      <li class="content certificates__item">
        Имеем аккредитованную испытательную лабораторию
      </li>
    </ul>
  </div>
</section>
