<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="title title-2 gallery__title">
      посмотрите фото <span>с наших последних проектов</span>
    </h2>
    <div class="gallery__wrapper">
      <div class="gallery__item">
        <h3 class="title title-3 gallery__item-title">
          проект замены <span>лифтового оборудования жилого дома</span>
        </h3>
        <div class="swiper gallery__item-slider">
          <div class="swiper-wrapper">
            <a
              href="@img/gallery-1.jpg"
              data-fancybox="gallery-1"
              class="swiper-slide"
            >
              <img src="@img/gallery-1.jpg" alt="image" class="gallery__img" />
            </a>
            <a
              href="@img/gallery-2.jpg"
              data-fancybox="gallery-1"
              class="swiper-slide"
            >
              <img src="@img/gallery-2.jpg" alt="image" class="gallery__img" />
            </a>
            <a
              href="@img/gallery-3.jpg"
              data-fancybox="gallery-1"
              class="swiper-slide"
            >
              <img src="@img/gallery-3.jpg" alt="image" class="gallery__img" />
            </a>
          </div>
        </div>
        <div class="gallery__nav">
          <button class="btn gallery__nav-btn">
            <img src="@img/gallery-1.jpg" alt="image" class="gallery__img" />
          </button>
          <button class="btn gallery__nav-btn">
            <img src="@img/gallery-2.jpg" alt="image" class="gallery__img" />
          </button>
          <button class="btn gallery__nav-btn">
            <img src="@img/gallery-3.jpg" alt="image" class="gallery__img" />
          </button>
        </div>
        <button
          data-modal="order-call"
          class="btn-modal btn-main gallery__item-btn"
        >
          рассчитать стоимость
        </button>
      </div>
      <div class="gallery__item">
        <h3 class="title title-3 gallery__item-title">
          Проект установки <span>лифтового оборудования в бизнес-центре</span>
        </h3>
        <div class="swiper gallery__item-slider">
          <div class="swiper-wrapper">
            <a
              href="@img/gallery-1.jpg"
              data-fancybox="gallery-2"
              class="swiper-slide"
            >
              <img src="@img/gallery-1.jpg" alt="image" class="gallery__img" />
            </a>
            <a
              href="@img/gallery-2.jpg"
              data-fancybox="gallery-2"
              class="swiper-slide"
            >
              <img src="@img/gallery-2.jpg" alt="image" class="gallery__img" />
            </a>
            <a
              href="@img/gallery-3.jpg"
              data-fancybox="gallery-2"
              class="swiper-slide"
            >
              <img src="@img/gallery-3.jpg" alt="image" class="gallery__img" />
            </a>
          </div>
        </div>
        <div class="gallery__nav">
          <button class="btn gallery__nav-btn">
            <img src="@img/gallery-1.jpg" alt="image" class="gallery__img" />
          </button>
          <button class="btn gallery__nav-btn">
            <img src="@img/gallery-2.jpg" alt="image" class="gallery__img" />
          </button>
          <button class="btn gallery__nav-btn">
            <img src="@img/gallery-3.jpg" alt="image" class="gallery__img" />
          </button>
        </div>
        <button
          data-modal="order-call"
          class="btn-modal btn-main gallery__item-btn"
        >
          рассчитать стоимость
        </button>
      </div>
      <div class="gallery__item">
        <h3 class="title title-3 gallery__item-title">
          Проект установки <span>лифтового оборудования в бизнес-центре</span>
        </h3>
        <div class="swiper gallery__item-slider">
          <div class="swiper-wrapper">
            <a
              href="@img/gallery-1.jpg"
              data-fancybox="gallery-3"
              class="swiper-slide"
            >
              <img src="@img/gallery-1.jpg" alt="image" class="gallery__img" />
            </a>
            <a
              href="@img/gallery-2.jpg"
              data-fancybox="gallery-3"
              class="swiper-slide"
            >
              <img src="@img/gallery-2.jpg" alt="image" class="gallery__img" />
            </a>
            <a
              href="@img/gallery-3.jpg"
              data-fancybox="gallery-3"
              class="swiper-slide"
            >
              <img src="@img/gallery-3.jpg" alt="image" class="gallery__img" />
            </a>
          </div>
        </div>
        <div class="gallery__nav">
          <button class="btn gallery__nav-btn">
            <img src="@img/gallery-1.jpg" alt="image" class="gallery__img" />
          </button>
          <button class="btn gallery__nav-btn">
            <img src="@img/gallery-2.jpg" alt="image" class="gallery__img" />
          </button>
          <button class="btn gallery__nav-btn">
            <img src="@img/gallery-3.jpg" alt="image" class="gallery__img" />
          </button>
        </div>
        <button
          data-modal="order-call"
          class="btn-modal btn-main gallery__item-btn"
        >
          рассчитать стоимость
        </button>
      </div>
      <div class="gallery__item">
        <h3 class="title title-3 gallery__item-title">
          Проект установки <span>лифтового оборудования в бизнес-центре</span>
        </h3>
        <div class="swiper gallery__item-slider">
          <div class="swiper-wrapper">
            <a
              href="@img/gallery-1.jpg"
              data-fancybox="gallery-4"
              class="swiper-slide"
            >
              <img src="@img/gallery-1.jpg" alt="image" class="gallery__img" />
            </a>
            <a
              href="@img/gallery-2.jpg"
              data-fancybox="gallery-4"
              class="swiper-slide"
            >
              <img src="@img/gallery-2.jpg" alt="image" class="gallery__img" />
            </a>
            <a
              href="@img/gallery-3.jpg"
              data-fancybox="gallery-4"
              class="swiper-slide"
            >
              <img src="@img/gallery-3.jpg" alt="image" class="gallery__img" />
            </a>
          </div>
        </div>
        <div class="gallery__nav">
          <button class="btn gallery__nav-btn">
            <img src="@img/gallery-1.jpg" alt="image" class="gallery__img" />
          </button>
          <button class="btn gallery__nav-btn">
            <img src="@img/gallery-2.jpg" alt="image" class="gallery__img" />
          </button>
          <button class="btn gallery__nav-btn">
            <img src="@img/gallery-3.jpg" alt="image" class="gallery__img" />
          </button>
        </div>
        <button
          data-modal="order-call"
          class="btn-modal btn-main gallery__item-btn"
        >
          рассчитать стоимость
        </button>
      </div>
    </div>
  </div>
</section>
