<section class="intro-page">
  <div class="container">
    <span class="intro-page__subcontent">
      в кратчайшие сроки и с гарантией лучшей цены
    </span>
    <h1 class="title intro-page__title"><span>Лифт</span> в частный дом</h1>
    <h5 class="title title-3 intro-page__arrows">проект → поставка → монтаж</h5>
    <p class="content intro-page__content">Оставьте заявку и узнайте стоимость экспертизы</p>
    <button data-modal="order-call" class="btn-main btn-modal">Узнать стоимость работ</button>
  </div>
</section>
