<section class="rec" id="rec">
  <div class="container">
    <h2 class="title title-2 rec__title">
      Ежедневно <span>готовим проекты лифтового оборудования</span>
    </h2>
    <p class="content rec__content">
      В стоимость входит полный спектр работ начиная от консультации по порядку
      проведения работ, до получения согласования проекта в Ростехнадзоре.
    </p>
    <div class="swiper rec__slider">
      <div class="swiper-wrapper">
        <article class="swiper-slide rec__item">
          <h5 class="title rec__item-title">Обследование</h5>
          <p class="rec__item-content">подъемно-транспортного борудования</p>
          <img src="@img/rec-1.jpg" alt="image" class="rec__item-img" />
          <button
            data-modal="order-call"
            class="btn btn-main btn-modal rec__item-btn"
          >
            Подробнее
          </button>
        </article>
        <article class="swiper-slide rec__item">
          <h5 class="title rec__item-title">разработка</h5>
          <p class="rec__item-content">технического задания на лифт</p>
          <img src="@img/rec-2.jpg" alt="image" class="rec__item-img" />
          <button
            data-modal="order-call"
            class="btn btn-main btn-modal rec__item-btn"
          >
            Подробнее
          </button>
        </article>
        <article class="swiper-slide rec__item">
          <h5 class="title rec__item-title">разработка</h5>
          <p class="rec__item-content">проекта установки лифта</p>
          <img src="@img/rec-3.jpg" alt="image" class="rec__item-img" />
          <button
            data-modal="order-call"
            class="btn btn-main btn-modal rec__item-btn"
          >
            Подробнее
          </button>
        </article>
        <article class="swiper-slide rec__item">
          <h5 class="title rec__item-title">проектирование</h5>
          <p class="rec__item-content">шахты лифта</p>
          <img src="@img/rec-4.jpg" alt="image" class="rec__item-img" />
          <button
            data-modal="order-call"
            class="btn btn-main btn-modal rec__item-btn"
          >
            Подробнее
          </button>
        </article>
        <article class="swiper-slide rec__item">
          <h5 class="title rec__item-title">проект установки</h5>
          <p class="rec__item-content">эскалатора, траволатора</p>
          <img src="@img/rec-5.jpg" alt="image" class="rec__item-img" />
          <button
            data-modal="order-call"
            class="btn btn-main btn-modal rec__item-btn"
          >
            Подробнее
          </button>
        </article>
        <article class="swiper-slide rec__item">
          <h5 class="title rec__item-title">проект</h5>
          <p class="rec__item-content">подъемных платформ для МГН</p>
          <img src="@img/rec-6.jpg" alt="image" class="rec__item-img" />
          <button
            data-modal="order-call"
            class="btn btn-main btn-modal rec__item-btn"
          >
            Подробнее
          </button>
        </article>
        <article class="swiper-slide rec__item">
          <h5 class="title rec__item-title">Изготовление</h5>
          <p class="rec__item-content">монтажных чертежей</p>
          <img src="@img/rec-7.jpg" alt="image" class="rec__item-img" />
          <button
            data-modal="order-call"
            class="btn btn-main btn-modal rec__item-btn"
          >
            Подробнее
          </button>
        </article>
        <article class="swiper-slide rec__item">
          <h5 class="title rec__item-title">разработка раздела</h5>
          <p class="rec__item-content">«Вертикальный транспорт»</p>
          <img src="@img/rec-8.jpg" alt="image" class="rec__item-img" />
          <button
            data-modal="order-call"
            class="btn btn-main btn-modal rec__item-btn"
          >
            Подробнее
          </button>
        </article>
        <article class="swiper-slide rec__item">
          <h5 class="title rec__item-title">паспорт</h5>
          <p class="rec__item-content">подъемно-транспортного оборудования</p>
          <img src="@img/rec-9.jpg" alt="image" class="rec__item-img" />
          <button
            data-modal="order-call"
            class="btn btn-main btn-modal rec__item-btn"
          >
            Подробнее
          </button>
        </article>
      </div>
    </div>
  </div>
</section>
