<section class="reviews">
  <div class="container">
    <h2 class="title title-2 reviews__title">
      отзывы <span>наших друзей</span>
    </h2>
    <div class="swiper reviews__slider">
      <div class="swiper-wrapper">
        <article class="swiper-slide">
          <h5 class="reviews__name">Фамилия Имя Отчество</h5>
          <p class="content reviews__content">
            Были недовольны нашим подрядчиком по обслуживанию лифтов, все долго
            да еще и дорого. Обратились в Нео-лифт, сразу порадовал серьезный
            подход. К нам в тот же день приехал специалист и осмотрел фронт
            работ
          </p>
          <span class="reviews__date">00.00.0000</span>
        </article>
        <article class="swiper-slide">
          <h5 class="reviews__name">Фамилия Имя Отчество</h5>
          <p class="content reviews__content">
            Искали надежного подрядчика на обслуживание лифтов, нами были сданы
            в эксплуатацию несколько зданий. Были разные варианты, обратили
            внимание на компанию Нео-лифт. Конструктивно подошли к нашему
            вопросу, предложили простые и понятные варианты
          </p>
          <span class="reviews__date">00.00.0000</span>
        </article>
        <article class="swiper-slide">
          <h5 class="reviews__name">Фамилия Имя Отчество</h5>
          <p class="content reviews__content">
            Были недовольны нашим подрядчиком по обслуживанию лифтов, все долго
            да еще и дорого. Обратились в Нео-лифт, сразу порадовал серьезный
            подход. К нам в тот же день приехал специалист и осмотрел фронт
            работ
          </p>
          <span class="reviews__date">00.00.0000</span>
        </article>
        <article class="swiper-slide">
          <h5 class="reviews__name">Фамилия Имя Отчество</h5>
          <p class="content reviews__content">
            Искали надежного подрядчика на обслуживание лифтов, нами были сданы
            в эксплуатацию несколько зданий. Были разные варианты, обратили
            внимание на компанию Нео-лифт. Конструктивно подошли к нашему
            вопросу, предложили простые и понятные варианты
          </p>
          <span class="reviews__date">00.00.0000</span>
        </article>
        <article class="swiper-slide">
          <h5 class="reviews__name">Фамилия Имя Отчество</h5>
          <p class="content reviews__content">
            Были недовольны нашим подрядчиком по обслуживанию лифтов, все долго
            да еще и дорого. Обратились в Нео-лифт, сразу порадовал серьезный
            подход. К нам в тот же день приехал специалист и осмотрел фронт
            работ
          </p>
          <span class="reviews__date">00.00.0000</span>
        </article>
        <article class="swiper-slide">
          <h5 class="reviews__name">Фамилия Имя Отчество</h5>
          <p class="content reviews__content">
            Искали надежного подрядчика на обслуживание лифтов, нами были сданы
            в эксплуатацию несколько зданий. Были разные варианты, обратили
            внимание на компанию Нео-лифт. Конструктивно подошли к нашему
            вопросу, предложили простые и понятные варианты
          </p>
          <span class="reviews__date">00.00.0000</span>
        </article>
      </div>
    </div>
    <div class="reviews__slider-nav">
      <button class="btn reviews__slider-btn _prev">
        ←
      </button>
      <div class="reviews__slider-pagination"></div>
      <button class="btn reviews__slider-btn _next">
        →
      </button>
    </div>
  </div>
</section>
