<section class="seo _green">
  <div class="container">
    <h2 class="title title-2 seo__title">
      в двух словах <span>о нашем подходе</span>
    </h2>
    <p class="content seo__content">
      Разработаем индивидуальное решение <br />
      подъёмного оборудования любой сложности
    </p>
    <ul class="list seo__list">
      <li class="seo__item">
        <h5 class="title seo__item-title">профессионализм и репутация</h5>
        <p class="seo__item-content">
          Мы в 100% случаев вводим в эксплуатацию все наши объекты.
          Установленное нами оборудование четко соответствует проекту.
        </p>
      </li>
      <li class="seo__item">
        <h5 class="title seo__item-title">Срочность</h5>
        <p class="seo__item-content">
          Выстроенные бизнес-процессы и строгий тайм-менеджмент позволяет
          сделать проект и монтаж в кратчайшие сроки.
        </p>
      </li>
      <li class="seo__item">
        <h5 class="title seo__item-title">комплексный подход</h5>
        <p class="seo__item-content">
          Вам не нужно искать разных исполнителей. Мы выполняем весь спектр
          работ. Гарантии на услуги прописываем в договоре.
        </p>
      </li>
      <li class="seo__item">
        <h5 class="title seo__item-title">экспертность</h5>
        <p class="seo__item-content">
          Наши эксперты более 10 лет работают в сфере подъёмного оборудования.
        </p>
      </li>
    </ul>
  </div>
</section>
