<section class="seo">
  <div class="container">
    <h2 class="title title-2 seo__title">наши услуги</h2>
    <ul class="list seo__list">
      <li class="seo__item">
        <h5 class="title seo__item-title">поставка</h5>
        <p class="seo__item-content">
          Гарантируем высокое качество лифтового оборудования и его
          своевременную поставку в сроки.
        </p>
      </li>
      <li class="seo__item">
        <h5 class="title seo__item-title">Монтаж</h5>
        <p class="seo__item-content">
          Монтируем и сдаем в эксплуатацию все типы пассажирских лифтов:
          электрические, гидравлические, пневматические.
        </p>
      </li>
      <li class="seo__item">
        <h5 class="title seo__item-title">Проектирование</h5>
        <p class="seo__item-content">
          Проектирование уникальных лифтовых и подъемных систем  по
          индивидуальному заказу.
        </p>
      </li>
      <li class="seo__item">
        <h5 class="title seo__item-title">Пусконаладка</h5>
        <p class="seo__item-content">
          Комплекс работ, выполняемых в период подготовки и проведения
          индивидуальных испытаний.
        </p>
      </li>
      <li class="seo__item">
        <h5 class="title seo__item-title">Обслуживание</h5>
        <p class="seo__item-content">
          Комплексное техническое обслуживание лифтового оборудования.
        </p>
      </li>
      <li class="seo__item">
        <h5 class="title seo__item-title">Ремонт</h5>
        <p class="seo__item-content">
          Осуществляем быстрый и качественный ремонт лифтов и лифтового
          оборудования.
        </p>
      </li>
    </ul>
  </div>
</section>
