<section class="steps">
  <img src="@img/steps-gallery.png" alt="image" class="steps__img">
  <div class="container">
    <h2 class="title title-2 steps__title">
      <span>Лифт</span>
      в частный дом
    </h2>
    <h3 class="title title-3 steps__subtitle">проект → поставка → монтаж</h3>
    <p class="content steps__content">Оставьте заявку и узнайте стоимость экспертизы</p>
    <button data-modal="order-call" class="btn btn-modal btn-main steps__btn">Узнать стоимость работа</button>
  </div>
</section>
