<section class="why">
  <div class="container">
    <h2 class="title title-2 why__title">
      зачем Нужен лифт <span>в частный дом?</span>
    </h2>
    <div class="why__wrapper">
      <div class="why__info">
        <p class="content">
          Каждый владелец загородного дома стремится к комфортному обустройству
          своего коттеджа, виллы или дома. И сегодня наличие лифта, начиная с
          2-х, 3-х и более этажного дома, уже не кажется не нужной роскошью.
          Лифт становится обязательным атрибутом комфорта и высокого уровня
          объекта.
        </p>
        <img src="@img/why-1.jpg" alt="image" class="why__info-img" />
        <img src="@img/why-2.jpg" alt="image" class="why__info-img" />
      </div>
      <img src="@img/why-3.jpg" alt="image" class="why__img" />
    </div>
    <div class="why__wrapper">
      <img src="@img/why-4.jpg" alt="image" class="why__img" />
      <div class="why__bottom-info">
        <p class="content why__bottom-content">
          Хочется обратить внимание на прекрасную возможность органично вписать
          коттеджный лифт и украсить интерьеры лестниц, холлов и других
          помещений.
        </p>
        <h5 class="title content why__bottom-title">
          Наша компания всегда предоставляет Заказчику услугу разработки
          индивидуального дизайн-проекта
        </h5>
        <ul class="list why__bottom-list">
          <li class="content why__bottom-item">
            <span>отделка кабины</span> (внутренняя и внешняя)
          </li>
          <li class="content why__bottom-item">
            <span>двери</span> (глухие, стеклянные)
          </li>
          <li class="content why__bottom-item">
            <span>шахты</span> (металлокаркас, комбинированные с выходом на открытое пространство)
          </li>
          <li class="content why__bottom-item">
            <span>обрамления дверных проемов в шахту лифта</span>
          </li>
        </ul>
        <p class="content why__bottom-frame-content">
          Мы выбираем для отделки натуральные материалы, такие как: металл, бронза, латунь, декоративная нержавеющая сталь, стекло, натуральный или декоративный камень, деревянный массив, шпон и ПВХ.
        </p>
      </div>
    </div>
  </div>
</section>
