.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.btn-main {
  @include flex-center;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 5px;
  min-height: 53px;
  background-color: var(--orange);
  border: 1px solid var(--orange);

  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;

  transition: color .2s ease, background-color .2s ease;

  @include hover {
    color: var(--orange);
    background-color: transparent;
  }

  &._primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    @include hover {
      color: var(--primary);
      background-color: transparent;
    }
  }
}
