.modal {
  --bg-overlay: rgba(0, 0, 0, 0.5);
  --bg-overlay-hide: rgba(0, 0, 0, 0);
  &.open {
    .modal__overlay,
    .modal__window {
      opacity: 1;
      z-index: 1000;
    }
    .modal__overlay {
      background-color: var(--bg-overlay);
      overflow-y: auto;
    }
    .modal__window {
      transform: translateY(0);
    }
  }
  &.hide {
    .modal__overlay,
    .modal__window {
      opacity: 1;
      z-index: 1000;
    }
    .modal__overlay {
      background-color: var(--bg-overlay-hide);
    }
    .modal__window {
      opacity: 0;
    }
  }
  &__overlay,
  &__window {
    opacity: 0;
    z-index: -10;
  }
  &__overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    inset: 0;
    background-color: var(--bg-overlay);
    transition: background-color 0.5s ease;
    &::-webkit-scrollbar {
      height: 0;
      width: 0;
      display: none;
    }
  }
  &__window {
    position: relative;
    padding: 50px;
    transform: translateY(25px);
    opacity: 0;
    height: fit-content;
    max-width: calc(100vw - 32px);
    width: 775px;
    color: white;
    background-color: var(--primary);
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 0px 10px 44px 0px rgba(0, 0, 0, 0.15);
    transition:
      transform 0.5s ease,
      opacity 0.5s ease;
    @include laptop-min {
      padding: 40px 16px 16px 16px;
      max-width: calc(100% - 20px);
    }
  }
  &__title {
    font-size: 30px;
    text-align: center;
    @include laptop {
      font-size: 25px;
    }
    @include tablet {
      font-size: 20px;
    }
  }
  &__content {
    font-family: "Prosto One", sans-serif;
    font-size: 20px;
    color: var(--tana);
    text-align: center;
    margin: 0px 0px 40px 0px;
    @include tablet {
      font-size: 16px;
      margin-bottom: 20px;
    }
    @include mobile {
      font-size: 14px;
    }
  }
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px;
    height: 24px;
    transition: color 0.2s ease;
    @include hover {
      color: var(--light);
    }
    @include mobile {
      top: 10px;
      right: 10px;
    }
  }
  &__close-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    @include flex-center;
    position: relative;
    span {
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: currentColor;

      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}
