.title {
  font-weight: 400;
  font-family: "Prosto One", sans-serif;
  margin: 0;
  text-transform: uppercase;
}
.title-2 {
  font-size: 55px;
  color: var(--primary);

  span {
    display: block;
    color: var(--black);
    font-size: 30px;
  }
  @include laptop-min {
    font-size: 48px;
    line-height: 100%;
    span {
      font-size: 24px;
      line-height: 100%;
    }
  }
  @include tablet {
    font-size: 24px;
  }
}
